
<div class="container m-5">
  <h1 class="text-primary text-center mb-5">Read Excel file and show in table</h1>
  <input type="file" class="form-control w-50" (change)="readExcelFile($event)">

  <table *ngIf="users.length > 0" class="table mt-5">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{u.Id}}</td>
        <td>{{u.Name}}</td>
        <td>{{u.Email}}</td>
        <td>{{u.Mobile}}</td>
        <td>{{u.State}}</td>
      </tr>
    </tbody>

  </table>


</div>
